<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ConfoEase</title>
    <link rel="stylesheet" href="/css/call-for-workshop.css" />

    <!-- font awesome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <!-- font awesome link -->
  </head>
  <body>
    <!-- header Section -->
    <header class="header">
      <a href="#" class="logo"><span>C</span>onfoEase</a>

      <!-- nav bar -->
      <nav class="navbar">
        <a href="/home">Home</a>
        <a href="/committee">Committees</a>
        <a href="/home">Speakers</a>
        <a href="/home">Contact Us</a>
        <a href="/login">Login</a>

        <div id="menu-bar" class="fas fa-bars"></div>
      </nav>
      <!-- Nab Bar ended -->
    </header>
    <!-- header Section -->

    <!-- Section for displaying the heading -->
    <section class="home" id="home">
      <div class="content">
        <h3>Call For Workshop <span>Proposal</span></h3>
      </div>
    </section>
    <!-- Section for heading closed -->

    <div class="container">
      <div class="aims-scope">
        <h3>Aims and <span>Scope</span></h3>
        <p>
          The 24th IEEE International Conference on Data Mining (IEEE ICDM 2024)
          includes half- or full-day workshops that complement the main
          conference technical program, with the goal of expanding new
          directions and applications of data mining for both practitioners and
          researchers in a particular field. Accepted workshops are expected to
          be held on December 9th, 2024. These workshops provide a more focused,
          in-depth venue for presentations, discussions and interaction. Each
          workshop will solicit papers (max 8 pages plus 2 extra pages) for peer
          review. Furthermore, as in previous years, papers that are not
          accepted by the main conference will be automatically sent to a
          workshop selected by the authors when the papers were submitted to the
          main conference. By the unique ICDM tradition, all accepted workshop
          papers will be published in the dedicated ICDMW proceedings published
          by the IEEE Computer Society Press.
        </p>
      </div>
      <div class="workshop-proposal">
        <h3>Preparing Your <span>Workshop Proposal</span></h3>
        <p>
          Workshop proposals should be submitted in plain text or PDF, by email
          (subject: “IEEE ICDM Workshop proposal”) to the Workshops Chairs,
          Wassim Hamidouche (wassim.hamidouche@tii.ae) and Imran Razzak
          (imran.razzak@unsw.edu.au). Proposal must include the following
          elements: Title and acronym of the workshop Duration (full-day or
          half-day) Description of the workshop topic, and a draft version of
          CFP (not exceeding 500 words) Short description on how the organizers
          plans to attract quality submissions Preliminary list of invited
          speakers (if any) Past workshops (if any) Short bio of the organizers
          Tentative program committee Contact information of the organizers
          (including name, affiliation, mailing address, and e-mail address)
        </p>
      </div>
      <div class="keydates">
        <h3>Key <span>Dates</span></h3>
        <p>
          April 10, 2024: Workshop proposals deadline May 15, <br />2024:
          Workshop proposals notification September 10, <br />2024: Workshop
          papers submission October 7, <br />2024: Notification of workshop
          papers acceptance to authors October 11,<br />
          2024: Camera-ready deadline and copyright form December 9,<br />
          2024: Workshops date
        </p>
      </div>
    </div>

    <!-- Footer Section -->
    <section class="footer" id="footer">
      <div class="box-conatainer">
        <div class="box">
          <h3>Head Quarters</h3>
          <a href="#"
            ><i class="fas fa-map-marker-alt"></i>Washington DC, USA</a
          >
          <a href="#"><i class="fas fa-map-marker-alt"></i>Dubai, UAE</a>
          <a href="#"><i class="fas fa-map-marker-alt"></i>Delhi, INDIA</a>
          <a href="#"><i class="fas fa-map-marker-alt"></i>Tokiyo, Japan</a>
          <a href="#"><i class="fas fa-map-marker-alt"></i>Beijing, China</a>
        </div>
        <div class="box">
          <h3>Quick links</h3>
          <a href="/home"><i class="fas fa-arrow-right"></i>Home</a>
          <a href="/committee"><i class="fas fa-arrow-right"></i>Committees</a>
          <a href="/home"><i class="fas fa-arrow-right"></i>Key Dates</a>
          <a href="/call-for-paper"
            ><i class="fas fa-arrow-right"></i>Call for Papers</a
          >
          <a href="/home"><i class="fas fa-arrow-right"></i>Contact Us</a>
          <a href="/login"><i class="fas fa-arrow-right"></i>Login</a>
        </div>
        <div class="box">
          <h3>Contact info</h3>
          <a href="#"><i class="fas fa-phone"></i>+1-1234567890</a>
          <a href="#"><i class="fas fa-phone"></i>+91-1234567890</a>
          <a href="#"
            ><i class="fas fa-envelope"></i>confoease@confo.ease.com</a
          >
          <a href="#"><i class="fas fa-envelope"></i>head@confoease.com</a>
          <a href="#"
            ><i class="fas fa-map-marker-alt"></i>Washington DC, USA, 753698</a
          >
        </div>

        <div class="box">
          <h3>Follow us</h3>
          <a href="#"><i class="fab fa-facebook-f"></i>facebook</a>
          <a href="#"><i class="fab fa-twitter"></i>twitter</a>
          <a href="#"><i class="fab fa-instagram"></i>instagram</a>
          <a href="#"><i class="fab fa-linkedin-in"></i>linkedin</a>
        </div>
        <div class="credit">
          Created by <span>Group 23</span>| All Rights Reserved
        </div>
      </div>
    </section>
    <!-- Footer Section -->
  </body>
</html>
