<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ConfoEase</title>
    <link rel="stylesheet" href="/css/call-for-paper.css" />

    <!-- font awesome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <!-- font awesome link -->
  </head>
  <body>
    <!-- header Section -->
    <header class="header">
      <a href="#" class="logo"><span>C</span>onfoEase</a>

      <!-- nav bar -->
      <nav class="navbar">
        <a href="/home">Home</a>
        <a href="/committee">Committees</a>
        <a href="/home">Speakers</a>
        <a href="/home">Contact Us</a>
        <a href="#">Login</a>

        <div id="menu-bar" class="fas fa-bars"></div>
      </nav>
      <!-- Nab Bar ended -->
    </header>
    <!-- header Section -->

    <!-- Section for displaying the heading -->
    <section class="home" id="home">
      <div class="content">
        <h3>Call For <span>Paper</span></h3>
      </div>
    </section>
    <!-- Section for heading closed -->

    <div class="container">
      <div class="aims-scope">
        <h3>Aims and <span>Scope</span></h3>
        <p>
          The IEEE International Conference on Data Mining (ICDM) has
          established itself as the world’s premier research conference in data
          mining. It provides an international forum for sharing original
          research results, as well as exchanging and disseminating innovative
          and practical development experiences. The conference covers all
          aspects of data mining, including algorithms, software, systems, and
          applications. ICDM draws researchers, application developers, and
          practitioners from a wide range of data mining related areas such as
          big data, deep learning, pattern recognition, statistical and machine
          learning, databases, data warehousing, data visualization,
          knowledge-based systems, high-performance computing, and large models.
          By promoting novel, high-quality research findings, and innovative
          solutions to challenging data mining problems, the conference seeks to
          advance the state-of-the-art in data mining.
        </p>
      </div>
      <div class="topic-interest">
        <h3>Topic of <span>Interest</span></h3>
        <p>
          Topics of interest include, but are not limited to Foundations,
          algorithms, models, and theory of data mining, including big data
          mining. Deep learning and statistical methods for data mining. Mining
          from heterogeneous data sources, including text, semi-structured,
          spatio-temporal, streaming, graph, web, and multimedia data. Data
          mining systems and platforms, and their efficiency, scalability,
          security, and privacy. Data mining for modelling, visualization,
          personalization, and recommendation. Data mining for cyber-physical
          systems and complex, time-evolving networks. Advantages and potential
          limitations of data mining with large models. Applications of data
          mining in social sciences, physical sciences, engineering, life
          sciences, climate science, web, marketing, finance, precision
          medicine, health informatics, and other domains. We particularly
          encourage submissions in emerging topics of high importance such as
          ethical data analytics, automated data analytics, data-driven
          reasoning, interpretable modeling, modeling with evolving
          environments, multi-modal data mining, and heterogeneous data
          integration and mining.
        </p>
      </div>
      <div class="submissions-guidelines">
        <h3>Submission <span>Guidelines</span></h3>
        <p>
          Authors are invited to submit original papers, which have not been
          published elsewhere and which are not currently under consideration
          for another journal, conference or workshop. Paper submissions should
          be limited to a maximum of ten (10) pages, in the IEEE 2-column format
          (https://www.ieee.org/conferences/publishing/templates.html),
          including the bibliography and any possible appendices. Submissions
          longer than 10 pages will be rejected without review. All submissions
          will be triple-blind reviewed by the Program Committee on the basis of
          technical quality, relevance to scope of the conference, originality,
          significance, and clarity. The following sections give further
          information for authors.
        </p>
      </div>
      <div class="how-to-submit">
        <h3>How to prepare <span>Submission</span></h3>
        <p>
          The authors shall omit their names from the submission. For formatting
          templates with author and institution information, simply replace all
          these information items in the template by “Anonymous”. <br />In the
          submission, the authors should refer to their own prior work like the
          prior work of any other author, and include all relevant citations.
          This can be done either by referring to their prior work in the third
          person or referencing papers generically. For example, if your name is
          Smith and you have worked on clustering, instead of saying “We extend
          our earlier work on distance-based clustering (Smith 2005),” you might
          say “We extend Smith’s earlier work (Smith 2005) on distance-based
          clustering.” The authors shall exclude citations to their own work
          which is not fundamental to understanding the paper, including prior
          versions (e.g., technical reports, unpublished internal documents) of
          the submitted paper. Hence, do not write: “In our previous work [3]”
          as it reveals that citation 3 is written by the current authors. The
          authors shall remove mention of funding sources, personal
          acknowledgments, and other such auxiliary information that could be
          related to their identities. <br />These can be reinstituted in the
          camera-ready copy once the paper is accepted for publication. The
          authors shall make statements on well-known or unique systems that
          identify an author, as vague in respect to identifying the authors as
          possible. The submitted files should be named with care to ensure that
          author anonymity is not compromised by the file names. For example, do
          not name your submission “Smith.pdf”, instead give it a name that is
          descriptive of the title of your paper, such as
          “ANewApproachtoClustering.pdf” (or a shorter version of the same).<br />
          Algorithms and resources used in a paper should be described as
          completely as possible to allow reproducibility. This includes
          experimental methodology, empirical evaluations, and results. Authors
          are strongly encouraged to make their code and data publicly available
          whenever possible. In addition, authors are strongly encouraged to
          also report, whenever possible, results for their methods on publicly
          available datasets. Accepted papers will be published in the
          conference proceedings by the IEEE Computer Society Press. All
          manuscripts are submitted as full papers and are reviewed based on
          their scientific merit. There is no separate abstract submission
          step.<br />
          There are no separate industrial, application, short paper or poster
          tracks during submission. Manuscripts must be submitted electronically
          in the online submission system
          (https://www.wi-lab.com/cyberchair/2024/icdm24/scripts/submit.php?subarea=DM).
          We do not accept email submissions.
        </p>
      </div>
      <div class="Contact">
        <h3>Contact<span></span></h3>
        <p>
          For queries regarding this call, please contact: Dr. Mingming Gong
          (mingming.gong@mbzuai.ac.ae).
        </p>
      </div>
    </div>

    <!-- Footer Section -->
    <section class="footer" id="footer">
      <div class="box-conatainer">
        <div class="box">
          <h3>Head Quarters</h3>
          <a href="#"
            ><i class="fas fa-map-marker-alt"></i>Washington DC, USA</a
          >
          <a href="#"><i class="fas fa-map-marker-alt"></i>Dubai, UAE</a>
          <a href="#"><i class="fas fa-map-marker-alt"></i>Delhi, INDIA</a>
          <a href="#"><i class="fas fa-map-marker-alt"></i>Tokiyo, Japan</a>
          <a href="#"><i class="fas fa-map-marker-alt"></i>Beijing, China</a>
        </div>
        <div class="box">
          <h3>Quick links</h3>
          <a href="/home"><i class="fas fa-arrow-right"></i>Home</a>
          <a href="/committee"><i class="fas fa-arrow-right"></i>Committees</a>
          <a href="/home"><i class="fas fa-arrow-right"></i>Key Dates</a>
          <a href="/call-for-paper"
            ><i class="fas fa-arrow-right"></i>Call for Papers</a
          >
          <a href="/home"><i class="fas fa-arrow-right"></i>Contact Us</a>
          <a href="/login"><i class="fas fa-arrow-right"></i>Login</a>
        </div>
        <div class="box">
          <h3>Contact info</h3>
          <a href="#"><i class="fas fa-phone"></i>+1-1234567890</a>
          <a href="#"><i class="fas fa-phone"></i>+91-1234567890</a>
          <a href="#"
            ><i class="fas fa-envelope"></i>confoease@confo.ease.com</a
          >
          <a href="#"><i class="fas fa-envelope"></i>head@confoease.com</a>
          <a href="#"
            ><i class="fas fa-map-marker-alt"></i>Washington DC, USA, 753698</a
          >
        </div>

        <div class="box">
          <h3>Follow us</h3>
          <a href="#"><i class="fab fa-facebook-f"></i>facebook</a>
          <a href="#"><i class="fab fa-twitter"></i>twitter</a>
          <a href="#"><i class="fab fa-instagram"></i>instagram</a>
          <a href="#"><i class="fab fa-linkedin-in"></i>linkedin</a>
        </div>
        <div class="credit">
          Created by <span>Group 23</span>| All Rights Reserved
        </div>
      </div>
    </section>
    <!-- Footer Section -->
  </body>
</html>
