<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/edit-event.css" />
    <title>Dashboard</title>
    <!-- font awesome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <!-- font awesome link -->
  </head>
  <body>
    <!-- side navigation bar -->
    <div class="container">
      <div class="navigation">
        <div class="toggle-bar">
          <a href="#">
            <span class="toggle icon">
              <i class="fa-solid fa-bars" style="color: #fff"></i>
            </span>
            <span class="title">ConfoEase </span>
          </a>
        </div>
        <ul>
          <li></li>
          <li>
            <a href="/admin">
              <span class="icon"><i class="fa-solid fa-house"></i></span>
              <span class="title">Home</span>
            </a>
          </li>
          <li>
            <a href="/create-event">
              <span class="icon"><i class="fa-solid fa-plus"></i></span>
              <span class="title">Create Event</span>
            </a>
          </li>
          <li class="hovered">
            <a href="/edit-event">
              <span class="icon"
                ><i class="fa-solid fa-pen-to-square"></i
              ></span>
              <span class="title">Edit Event</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fa-solid fa-list-check"></i></span>
              <span class="title">Manage Reviewer</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fa-regular fa-calendar"></i></span>
              <span class="title">Schedule</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"
                ><i class="fa-solid fa-right-from-bracket"></i
              ></span>
              <span class="title">Logout</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- main content -->
      <div class="main">
        <!-- top navigation bar -->
        <div class="top-bar">
          <div class="search">
            <label for="Search">
              <input type="text" name="Search-here" placeholder="Search Here" />
              <i
                class="fa-solid fa-magnifying-glass"
                style="color: #3867d6"
              ></i>
            </label>
          </div>
          <div class="user">
            <img src="user.jpg" alt="" />
          </div>
        </div>
        <!-- top navigation bar -->

        <!-- heading for event creation -->
        <section class="home" id="home">
          <div class="content">
            <h3>Create an <span>Event</span></h3>
          </div>
        </section>
        <!-- heading for event creation -->

        <!-- form for taking user input for conference creation -->

        <div class="form-container">
          <section class="event-creation" id="event-creation">
            <form onsubmit="return false;">
              <!-- Basic event details -->
              <div class="event">
                <div class="input-box">
                  <label for="event-details" class="heading"
                    >Event <span>Details</span></label
                  >
                </div>
                <div class="input-box">
                  <label for="event-name">Event Name:</label>
                  <label for="images">Conference Images</label>
                </div>
                <div class="input-box">
                  <input
                    type="text"
                    name="event-name"
                    placeholder="Event Name"
                  />
                  <input type="file" name="conference-images" multiple />
                </div>
                <div class="input-box">
                  <label for="conference-description"
                    >Conference Description</label
                  >
                </div>
                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="5"
                  placeholder="Conference-Description"
                ></textarea>
              </div>
              <!-- Basic event details -->

              <!-- key dates  -->
              <div class="key-dates-insert" id="key-dates-insert">
                <div class="input-box">
                  <label for="key-date-details" class="heading"
                    >Key Date <span>Details</span></label
                  >
                </div>
                <div class="input-box view1">
                  <label for="key-dates">Key Dates</label>
                  <label for="key-dates-description">Description</label>
                </div>
                <div class="input-box view1">
                  <input type="date" name="date" placeholder="Date" />
                  <input
                    type="text"
                    name="description"
                    placeholder="Description"
                  />
                  <button class="remove-btn btn" onclick="removeField(this)">
                    Remove
                  </button>
                </div>
              </div>
              <div class="input-box">
                <button class="add-btn btn" onclick="addField()">
                  Add Date
                </button>
              </div>
              <!-- key dates  -->

              <!-- Call for paper -->
              <div class="call-for-paper-details">
                <div class="input-box">
                  <label for="call-for-paper" class="heading"
                    >Call For <span>Paper</span></label
                  >
                </div>
                <div class="input-box">
                  <label for="aims-and-scope">Aims and Scope</label>
                </div>
                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="5"
                  placeholder="Aims and Scope"
                ></textarea>
                <div class="input-box">
                  <label for="topic-of-interest">Topic Of Interest</label>
                </div>
                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="5"
                  placeholder="Topic Of Interest"
                ></textarea>
                <div class="input-box">
                  <label for="submission-guidelines"
                    >Submission Guidelines</label
                  >
                </div>
                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="5"
                  placeholder="Submission Guidelines"
                ></textarea>
                <div class="input-box">
                  <label for="how-to-prepare-submission"
                    >How to Prepare Submission</label
                  >
                </div>
                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="5"
                  placeholder="How to Prepare Submission"
                ></textarea>
                <div class="input-box">
                  <label for="contact">Contact</label>
                </div>
                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="2"
                  placeholder="Contact"
                ></textarea>
              </div>
              <!-- Call for paper -->

              <!-- Call for workshop proposal -->
              <div class="call-for-workshop-proposal">
                <div class="input-box">
                  <label for="call-for-paper" class="heading"
                    >Call For Workshop <span>Proposal</span></label
                  >
                </div>
                <div class="input-box">
                  <label for="aims-and-scope">Aims and Scope</label>
                </div>
                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="5"
                  placeholder="Aims and Scope"
                ></textarea>
                <div class="input-box">
                  <label for="preparing-workshop-proposal"
                    >Preparing Workshop Proposal</label
                  >
                </div>
                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="5"
                  placeholder="Preparing Workshop Proposal"
                ></textarea>
              </div>
              <!-- Call for workshop proposal -->

              <!-- Venue Details -->
              <div class="venue-details">
                <div class="input-box">
                  <label for="venue-details" class="heading"
                    >Venue <span>Details</span></label
                  >
                </div>
                <div class="input-box">
                  <label for="venue-name">Venue Name:</label>
                  <label for="images">Venue Images</label>
                </div>
                <div class="input-box">
                  <input type="text" name="venue" placeholder="Event Name" />
                  <input type="file" name="venue-images" multiple />
                </div>
                <div class="input-box">
                  <label for="venue-description">Venue Description</label>
                </div>
                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="5"
                  placeholder="Venue"
                ></textarea>
              </div>
              <!-- Venue Details -->

              <!-- Speaker Details -->
              <div class="speakers-details" id="speakers-details">
                <div class="input-box">
                  <label for="speakers-details" class="heading"
                    >Speaker <span>Details</span></label
                  >
                </div>
                <div id="speaker-list">
                  <div class="each-speaker">
                    <div class="input-box">
                      <label for="speaker-name">Speaker Name:</label>
                      <label for="images">Speaker Images</label>
                    </div>
                    <div class="input-box">
                      <input
                        type="text"
                        name="speaker-name"
                        placeholder="Speaker Name"
                      />
                      <input type="file" name="speaker-images" multiple />
                    </div>
                    <div class="input-box">
                      <label for="venue-description">Speaker Occupation</label>
                    </div>
                    <div class="input-box">
                      <input
                        type="text"
                        name="speaker-occupation"
                        placeholder="Speaker Occupation"
                      />
                    </div>
                    <button
                      class="remove-btn btn"
                      onclick="removeSpeaker(this)"
                    >
                      Remove speaker
                    </button>
                  </div>
                </div>
                <button class="add-btn btn" onclick="addSpeaker()">
                  Add Speaker
                </button>
              </div>
              <!-- Speaker Details -->
              <br />

              <!-- Committee Details -->
              <div class="organization-committee-details">
                <div class="input-box">
                  <label for="committee" class="heading"
                    >Committees <span>Details</span></label
                  >
                </div>
                <div class="committee-list" id="committee-list">
                  <div class="each-committee">
                    <div class="input-box">
                      <label for="committee-name">Committee Name:</label>
                    </div>
                    <div class="input-box">
                      <input
                        type="text"
                        name="committee-name"
                        placeholder="Committee Name"
                      />
                    </div>
                    <div
                      class="committee-member-list"
                      id="committee-member-list"
                    >
                      <div class="each-user">
                        <div class="input-box">
                          <label for="user-name">Member Name:</label>
                          <label for="images">Member Images</label>
                        </div>
                        <div class="input-box">
                          <input
                            type="text"
                            name="member-name"
                            placeholder="Member Name"
                          />
                          <input type="file" name="member-images" />
                        </div>
                        <div class="input-box view">
                          <label for="facebool">Facebook:</label>
                          <label for="facebool">Twitter:</label>
                          <label for="facebool">LinkedIn:</label>
                        </div>
                        <div class="input-box view">
                          <input
                            type="text"
                            name="facebook-link"
                            placeholder="Facebook"
                          />
                          <input
                            type="text"
                            name="twitter-link"
                            placeholder="Twitter"
                          />
                          <input
                            type="text"
                            name="linkedin-link"
                            placeholder="LinkedIn"
                          />
                        </div>
                        <button
                          class="remove-btn btn"
                          onclick="removeCommitteeMember(this)"
                        >
                          Remove User
                        </button>
                      </div>
                    </div>
                    <button
                      class="add-btn btn"
                      onclick="addCommitteeMember(this)"
                    >
                      Add User</button
                    ><br />
                    <button
                      class="remove-btn btn"
                      onclick="removeCommittee(this)"
                    >
                      Remove Committee
                    </button>
                  </div>
                </div>
                <button class="add-btn btn" onclick="addCommittee()">
                  Add Committee
                </button>
              </div>
              <!-- Committee Details -->
              <br />

              <!-- Sponser Details -->
              <div class="sponsers">
                <div class="input-box">
                  <label for="sponsers" class="heading"
                    >Sponsers <span>Details</span></label
                  >
                </div>
                <div class="sponsers-list" id="sponsers-list">
                  <div class="each-sponser">
                    <div class="input-box">
                      <label for="Sponser-name">Sponser Name:</label>
                      <label for="images">Sponser Images</label>
                    </div>
                    <div class="input-box">
                      <input
                        type="text"
                        name="sponser-name"
                        placeholder="Sponser Name"
                      />
                      <input type="file" name="Sponser-image" multiple />
                    </div>
                    <button
                      class="remove-btn btn"
                      onclick="removeSponser(this)"
                    >
                      Remove Sponser
                    </button>
                  </div>
                </div>
                <button class="add-btn btn" onclick="addSponser()">
                  Add Sponser
                </button>
              </div>
              <!-- Sponser Details -->

              <!-- headquarters details -->
              <div class="headquarters">
                <div class="input-box">
                  <label for="headquarters-details" class="heading"
                    >Headquarters <span>Details</span></label
                  >
                </div>
                <div class="quarter-list" id="quarter-list">
                  <div class="each-headquarter">
                    <div class="input-box">
                      <label for="headquarters-name">Headquarter Name:</label>
                      <label for="headquarters-link">Headquarter link:</label>
                    </div>
                    <div class="input-box">
                      <input
                        type="text"
                        name="headquarter-name"
                        placeholder="Headquarter Name"
                      />
                      <input
                        type="text"
                        name="headquarter-link"
                        placeholder="Headquarter Link"
                      />
                      <button
                        class="remove-btn btn"
                        onclick="removequarters(this)"
                      >
                        Remove Headquarter
                      </button>
                    </div>
                  </div>
                </div>
                <button class="add-btn btn" onclick="addquarters()">
                  Add Headquarter
                </button>
              </div>
              <!-- headquarters details -->

              <!-- Contact Info -->
              <div class="contact-info">
                <div class="input-box">
                  <label for="contact-details" class="heading"
                    >Contact <span>Details</span></label
                  >
                </div>
                <div class="contact-list" id="contact-list">
                  <div class="each-contact">
                    <div class="input-box">
                      <label for="mobile-number">Mobile Number:</label>
                      <label for="email">Email:</label>
                    </div>
                    <div class="input-box">
                      <input
                        type="tel"
                        name="mobile-number"
                        placeholder="Mobile Number"
                      />
                      <input
                        type="email"
                        name="email-id"
                        placeholder="Email id"
                      />
                      <button
                        class="remove-btn btn"
                        onclick="removeContact(this)"
                      >
                        Remove Contact
                      </button>
                    </div>
                  </div>
                </div>
                <button class="add-btn btn" onclick="addcontact()">
                  Add Contact
                </button>
              </div>
              <!-- Contact Info -->

              <!-- Follow up -->
              <div class="follow-us">
                <div class="input-box">
                  <label for="follow-us" class="heading"
                    >Social Media <span>Handels</span></label
                  >
                </div>
                <div class="input-box">
                  <label for="facebook">Facebook</label>
                  <label for="Twitter">Twitter</label>
                </div>
                <div class="input-box">
                  <input
                    type="text"
                    name="facebook-connect"
                    placeholder="Facebook Link"
                  />
                  <input
                    type="text"
                    name="twitter-connect"
                    placeholder="Twitter Link"
                  />
                </div>
                <div class="input-box">
                  <label for="LinkedIn">LinkedIn</label>
                  <label for="Instagram">Instagram</label>
                </div>
                <div class="input-box">
                  <input
                    type="text"
                    name="linkedin-connect"
                    placeholder="LinkedIn Link"
                  />
                  <input
                    type="text"
                    name="instagram-connect"
                    placeholder="Instagram Link"
                  />
                </div>
              </div>
              <!-- Follow up -->

              <input
                type="submit"
                id="create-event-submission"
                value="Send Message"
                class="btn"
              />
            </form>
          </section>
        </div>
        <!-- form for taking user input for conference creation -->
      </div>
      <!-- main content -->
    </div>
    <!-- side navigation bar -->

    <!-- script file -->
    <script src="/js/edit-event.js"></script>
    <!-- script file -->
  </body>
</html>
