<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ConfoEase</title>
    <link rel="stylesheet" href="/css/otp.css" />
    <!-- swiper css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- swipper css link -->

    <!-- font awesome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <!-- font awesome link -->
  </head>

  <body>
    <div class="container">
      <div class="card">
        <div class="header">
          <h1 style="color: #fff">OTP Verification</h1>
        </div>

        <div class="mailinput">
          <input type="hidden" id="conf" name="custId" value="<%= data %>" />
          <input
            id="email"
            class="mail"
            type="email"
            name="username"
            placeholder="Enter email"
            required
          />
        </div>

        <div class="content" id="content">
          <button id="generateBtn" onclick="OTPFn()" class="btn">
            Generate OTP
          </button>
          <div id="otpForm" class="otp-form">
            <input
              type="text"
              id="userOTP"
              name="otp"
              placeholder="Enter OTP"
            />
            <button onclick="OTPVerifyFn()" class="btn">Verify</button>
          </div>
          <div id="successMessage" class="success-message">
            <i class="fas fa-check"></i>
            <p>Congratulations OTP is Verified!</p>
          </div>
          <div id="errorMessage" class="error-message"></div>
          <div id="timer" class="timer"></div>
        </div>
      </div>
    </div>
    <script src="/js/otp.js"></script>
  </body>
</html>
