<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reviewer-dashboard.css" />
    <title>ConfoEase</title>
    <!-- swiper css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- swipper css link -->

    <!-- font awesome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <!-- font awesome link -->
  </head>

  <body>
    <!-- header Section -->
    <header class="header">
      <a href="#" class="logo"><span>C</span>onfoEase</a>

      <!-- nav bar -->
      <nav class="navbar">
        <a href="/">Home</a>
        <a href="/committee">Committees</a>
        <a href="/">Speakers</a>
        <a href="/">Contact Us</a>
        <a href="/login1">Login</a>

        <div id="menu-bar" class="fas fa-bars"></div>
      </nav>
      <!-- Nav Bar ended -->
    </header>
    <!-- header Section -->

    <!-- Section for displaying the heading -->
    <section class="home" id="home">
      <div class="content">
        <h3>Reviewer <span>Console</span></h3>
      </div>
    </section>
    <!-- Section for heading closed -->

    <div class="filter-container">
      <!-- Filter buttons -->
      <select
        id="filterDropdown"
        class="filter-dropdown"
        onchange="filterPapers(this.value)"
      >
        <option value="all">All Papers</option>
        <option value="unchecked">Unchecked Papers</option>
        <option value="checked">Checked Papers</option>
      </select>
      <!-- <button class="filter-btn" onclick="filterPapers('unchecked')">Unchecked</button>
        <button class="filter-btn" onclick="filterPapers('checked')">Checked </button>
        <button class="filter-btn active" onclick="filterPapers('all')">All </button> -->
    </div>

    <!-- Table for papers -->
    <div id="table-container">
      <table>
        <thead>
          <tr style="height: 80px">
            <th style="width: 7%">Paper ID</th>
            <th style="width: 30%">Title</th>
            <th style="width: 20%">Subject Areas</th>
            <th style="width: 13%">Status</th>
            <th style="width: 40%">Review</th>
          </tr>
        </thead>
        <tbody>
          <tr data-status="checked">
            <td>1</td>
            <td>Emerging Technology</td>
            <td>Data Mining</td>
            <td>Checked</td>
            <td>Reviews</td>
          </tr>
          <tr data-status="unchecked">
            <td>2</td>
            <td>Data Mining in Education</td>
            <td>Data Mining</td>
            <td>Unchecked</td>
            <td>Reviews</td>
          </tr>
          <tr data-status="checked">
            <td>3</td>
            <td>Data analysis with the SolarSoft system</td>
            <td>Data Analysis</td>
            <td>Checked</td>
            <td>Reviews</td>
          </tr>
          <tr data-status="unchecked">
            <td>4</td>
            <td>Trends in big data analytics</td>
            <td>Data Analysis</td>
            <td>Unchecked</td>
            <td>Reviews</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Footer Section -->
    <section class="footer" id="footer">
      <div class="box-conatainer">
        <div class="box">
          <h3>Head Quarters</h3>
          <a href="#"
            ><i class="fas fa-map-marker-alt"></i>Washington DC, USA</a
          >
          <a href="#"><i class="fas fa-map-marker-alt"></i>Dubai, UAE</a>
          <a href="#"><i class="fas fa-map-marker-alt"></i>Delhi, INDIA</a>
          <a href="#"><i class="fas fa-map-marker-alt"></i>Tokiyo, Japan</a>
          <a href="#"><i class="fas fa-map-marker-alt"></i>Beijing, China</a>
        </div>
        <div class="box">
          <h3>Quick links</h3>
          <a href="/"><i class="fas fa-arrow-right"></i>Home</a>
          <a href="/committee"><i class="fas fa-arrow-right"></i>Committees</a>
          <a href="/"><i class="fas fa-arrow-right"></i>Key Dates</a>
          <a href="/call-for-paper"
            ><i class="fas fa-arrow-right"></i>Call for Papers</a
          >
          <a href="/"><i class="fas fa-arrow-right"></i>Contact Us</a>
          <a href="/login1"><i class="fas fa-arrow-right"></i>Login</a>
        </div>
        <div class="box">
          <h3>Contact info</h3>
          <a href="#"><i class="fas fa-phone"></i>+1-1234567890</a>
          <a href="#"><i class="fas fa-phone"></i>+91-1234567890</a>
          <a href="#"
            ><i class="fas fa-envelope"></i>confoease@confo.ease.com</a
          >
          <a href="#"><i class="fas fa-envelope"></i>head@confoease.com</a>
          <a href="#"
            ><i class="fas fa-map-marker-alt"></i>Washington DC, USA, 753698</a
          >
        </div>

        <div class="box">
          <h3>Follow us</h3>
          <a href="#"><i class="fab fa-facebook-f"></i>facebook</a>
          <a href="#"><i class="fab fa-twitter"></i>twitter</a>
          <a href="#"><i class="fab fa-instagram"></i>instagram</a>
          <a href="#"><i class="fab fa-linkedin-in"></i>linkedin</a>
        </div>
      </div>
      <div class="credit">
        Created by <span>Group 23</span>| All Rights Reserved
      </div>
    </section>
    <!-- Footer Section -->

    <!-- script file -->
    <script src="/js/reviewer-dashboard.js"></script>
    <!-- script file -->
  </body>
</html>
