<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ConfoEase</title>
    <link rel="stylesheet" href="/css/tracks.css" />
    <!-- swiper css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- swipper css link -->

    <!-- font awesome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <!-- font awesome link -->
  </head>
  <body>
    <!-- header Section -->
    <header class="header">
      <a href="#" class="logo"><span>C</span>onfoEase</a>

      <!-- nav bar -->
      <nav class="navbar">
        <a href="/">Home</a>
        <a href="/committee">Committees</a>
        <a href="/tracks">Tracks</a>
        <a href="/">Speakers</a>
        <a href="/">Contact Us</a>
        <a href="/signup1/<%= data %>">Register</a>
        <a href="/login1/<%= data%>">Login</a>

        <div id="menu-bar" class="fas fa-bars"></div>
      </nav>
      <!-- Nab Bar ended -->
    </header>
    <!-- header Section -->

    <!-- Section for displaying the heading -->
    <section class="home" id="home">
      <div class="content">
        <h3>Organizing <span>Committee</span></h3>
      </div>
    </section>
    <!-- Section for heading closed -->

    <!-- organisation committee -->
    <div class="container">
      <!-- honary Committee -->
      <div class="tracks">
        <h4>Power and <span>Energy</span></h4>
        <div class="track">
          <div class="person">
            <img src="/image/girl1.jpg" />
            <h4>Dr. Emily <span>Smith</span></h4>
            <!-- <h6>CEO BOAT</h6> -->
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <div class="person">
            <img src="/image/boy1.jpg" />
            <h4>Prof. David <span>Wong</span></h4>
            <!-- <h6>CEO BOAT</h6> -->
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <!-- honary Committee -->
    </div>
    <!-- organisation committee -->

    <!-- Footer Section -->
    <section class="footer" id="footer">
      <div class="box-conatainer">
        <div class="box">
          <h3>Head Quarters</h3>
          <a href="#"
            ><i class="fas fa-map-marker-alt"></i>Washington DC, USA</a
          >
          <a href="#"><i class="fas fa-map-marker-alt"></i>Dubai, UAE</a>
          <a href="#"><i class="fas fa-map-marker-alt"></i>Delhi, INDIA</a>
          <a href="#"><i class="fas fa-map-marker-alt"></i>Tokiyo, Japan</a>
          <a href="#"><i class="fas fa-map-marker-alt"></i>Beijing, China</a>
        </div>
        <div class="box">
          <h3>Quick links</h3>
          <a href="/"><i class="fas fa-arrow-right"></i>Home</a>
          <a href="/committee"><i class="fas fa-arrow-right"></i>Committees</a>
          <a href="/"><i class="fas fa-arrow-right"></i>Key Dates</a>
          <a href="/call-for-paper"
            ><i class="fas fa-arrow-right"></i>Call for Papers</a
          >
          <a href="/"><i class="fas fa-arrow-right"></i>Contact Us</a>
          <a href="/login1"><i class="fas fa-arrow-right"></i>Login</a>
        </div>
        <div class="box">
          <h3>Contact info</h3>
          <a href="#"><i class="fas fa-phone"></i>+1-1234567890</a>
          <a href="#"><i class="fas fa-phone"></i>+91-1234567890</a>
          <a href="#"
            ><i class="fas fa-envelope"></i>confoease@confo.ease.com</a
          >
          <a href="#"><i class="fas fa-envelope"></i>head@confoease.com</a>
          <a href="#"
            ><i class="fas fa-map-marker-alt"></i>Washington DC, USA, 753698</a
          >
        </div>

        <div class="box">
          <h3>Follow us</h3>
          <a href="#"><i class="fab fa-facebook-f"></i>facebook</a>
          <a href="#"><i class="fab fa-twitter"></i>twitter</a>
          <a href="#"><i class="fab fa-instagram"></i>instagram</a>
          <a href="#"><i class="fab fa-linkedin-in"></i>linkedin</a>
        </div>
      </div>
      <div class="credit">
        Created by <span>Group 23</span>| All Rights Reserved
      </div>
    </section>
    <!-- Footer Section -->
  </body>
</html>
